/* Загальні стилі для всієї сторінки */
body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Стилі для заголовка */
header h1 {
  margin-top: 0;
  font-size: 36px;
  text-align: center;
  color: #333;
}

/* Стилі для навігаційного меню */
nav {
  background-color: #333;
  color: #fff;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #666;
}

/* Стилі для основного вмісту */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

main h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

main p {
  margin-bottom: 20px;
}

/* Стилі для підвалу */
footer {
  text-align: center;
  padding: 10px;
  background-color: #f2f2f2;
  border-top: 1px solid #ccc;
  color: #666;
}
/* Анімація для кнопки "Розв'язати" */
.button {
  background-color: #4CAF50; /* Зелений колір */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.button:hover {
  background-color: #555555; /* Сірий колір */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Анімація моргання */
@keyframes blink {
  from {color: #ffffff;}
  to {color: #4CAF50;}
}

/* Динаміка для футера */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px;
  animation-name: slideUp;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Анімація зсуву вгору */
@keyframes slideUp {
  from {bottom: -50px;}
  to {bottom: 0;}
}