/* Стилі для заголовку h1 */
h1 {
  font-size: 4em;
  margin: 0;
  padding: 0.5em;
  text-align: center;
  background-color: #333;
  color: white;
  transition: background-color 0.5s ease-in-out;
}

h1:hover {
  background-color: #808000;
}

/* Стилі для навігації */
nav {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 1em;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 0.5em;
  transition: background-color 0.5s ease-in-out;
}

nav a:hover {
  background-color: #808000;
  color: white;
}

/* Стилі для головного блоку main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 80%;
  margin-bottom: 2em;
}

h2 {
  font-size: 2.5em;
  margin: 0;
  padding: 0.5em;
  text-align: center;
  background-color: #333;
  color: white;
  transition: background-color 0.5s ease-in-out;
}

h2:hover {
  background-color: #808000;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  text-align: justify;
  padding: 1em;
  background-color: #eee;
  border-radius: 0.5em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.5s ease-in-out;
}

p:hover {
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.5);
  transform: translateY(-0.25em);
}

/* Стилі для футера */
footer {
  background-color: #333;
  color: bleack;
  padding: 1em;
  text-align: center;
}
form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

input:invalid {
  border-color: red;
}

input:focus:invalid {
  outline: none;
  border-color: red;
  box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.2);
}

input:focus:valid {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0px 0px 5px rgba(76, 175, 80, 0.4);
}